.title{
	font-size: 18px;
	font-weight: bold;
	margin-top: 36px;
	text-align: center;
	line-height: 22px;
	margin-bottom: 10px;
}
.name{
	font-size: 26px;
	font-weight: bold;
	text-align: center;
	line-height: 26px;
}

.img{
	width: 100%;
	height: auto;
	text-align: center;
	margin: 28px 0px 38px;
}
.img img{
	max-width: 100%;
	height: auto;
}
.sub-title{
	font-size: 18px;
	font-weight: bold;
	margin-top: 36px;
	text-align: center;
	line-height: 22px;
}
.desc{
	font-style: 13px;
	line-height: 26px;
	margin: 22px 0 30px;
}
.btn{
	width: 168px;
	height: 42px;
	line-height: 42px;
	text-align: center;
	background: #feb718;
	font-size: 15px;
	margin: 0 auto;
	margin-bottom: 60px;
}
.main a{
	 text-decoration: none;
	 display: block;
      font-family: "微软雅黑";
      color: #000;
      outline-style: none;
}
